<div class="container">
  <h3 class="center"><img src="../../assets/img/request.jpg" width="100" height="100"> Pedidos App.</h3>

</div>
  
  <nav class="navbar navbar-expand-sm bg-light navbar-dark">
    <ul class="navbar-nav" routerLinkActive="active">
    <li class="nav-item">
      <button data-testid="buttonAprovarPedido" href="/pedido-user-inter" class="m-1 btn btn-light bton-outline-primary" routerLink="userInter" Button>Aprovar Pedidos de Introduçao</button>
    </li>
    <li class="nav-item">
      <button data-testid="buttonAceitarPedido" href="/pedido-user-objetivo" class="m-1 btn btn-light bton-outline-primary" routerLink="userObjetivo" Button>Aceitar Pedidos de Introduçao</button>
    </li>
    <li class="nav-item">
      <button data-testid="buttonCriarPedido" href="/criar-pedido" class="m-1 btn btn-light bton-outline-primary" routerLink="criarPedido" Button>Criar Pedido</button>
    </li>
    
  </ul> 
  
  </nav>



<router-outlet></router-outlet>  

