<div class="container">
    <h3 class="center"><img src="../../assets/img/leaderboard.jpg" width="100" height="100"> Leaderboard</h3>

</div>  

<nav class="navbar navbar-expand-sm bg-light navbar-dark">
    <ul class="navbar-nav" routerLinkActive="active">
        <li class="nav-item">
            <button data-testid="fortaleza-rede" href="/fortaleza-rede" class="m-1 btn btn-light bton-outline-primary" routerLink="fortalezaRede" Button>Fortaleza da Rede</button>
        </li>
        <li class="nav-item">
            <button data-testid="dimensao-rede" href="/dimensao-rede" class="m-1 btn btn-light bton-outline-primary" routerLink="dimensaoRede" Button>Dimensão da Rede</button>
        </li>

    
    </ul>   

</nav>





<router-outlet></router-outlet>  