
<h1>RGPD terms & conditions </h1>
    
<h2>Responsible for handling the data</h2>
    
<p>The responsibles in charge of handling the provided information are the integrants of the group G32, from class 3DF of the academic year of 2021/2022, from the Informatics Engineering Department at ISEP.</p>
    
<h2>Data collected for registration in the application.</h2>
    
<p>At the moment of registration we may need to collect your name, e-mail, password, birth date, avatar, city, country, description, telephone, mood and profile tags.
    All this referred data is stored in our database which only we are authenticated to access </p>

<h2>Deletion and destruction of personal data.</h2>

<p>Having in mind the possibility of legal or criminal issues, some important data are required to be stored for a bigger time, as name, email and birth date, which are supposed to be stored for one year after the account is deleted. Other less important data are only stored for 15 days after the account is deleted, such as tags, mood and description.</p>
    
<h2>Use of collected personal data</h2>
    
<p>The e-mail and password are required to allow the user to register and login in the application, and also for us
    to be able to verify an individual's identity. The other informations are required because they alow us to make a solid perfil to the users of our social network and are also important to the algorithm to sugest and connect the right friends for each user.</p>

<h2>Acess to all our responsibilities according to RGPD terms </h2>
    
<p><a target="_blank" href="https://eur-lex.europa.eu/legal-content/EN/TXT/HTML/?uri=CELEX:32016R0679&from=PT" rel="nofollow noopener ugc" >RGPD Terms.</a></p>
    


<h2>END OF PAGE</h2>