<div class="container">
  <h2 ><img src="../../assets/img/home.png" width="100" height="100"> HOME</h2>
</div>
<nav class="navbar navbar-expand-sm bg-light navbar-dark">
  <ul class="navbar-nav" routerLinkActive="active">
  <li class="nav-item">
    <button mat-button data-testid="forca-ligacao" href="/forca-ligacao" class="nav-link" routerLink="../forca-ligacao"> Força de Ligação</button>
  </li>
  <li class="nav-item">
    <button mat-button data-testid="leaderboard" href="/leaderboard" class="nav-link" routerLink="../leaderboard"> Leaderboard</button>
  </li> 
  <li class="nav-item">
    <button mat-button data-testid="tags" href="/tags-overall" class="nav-link" routerLink="../tags"> Tags</button>
  </li> 
</ul> 

</nav>



<router-outlet></router-outlet>  
